h3 {
  font-size: 2em;
  text-align: center;
  margin: 1.2em;
}

.repoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  margin: 0 auto;

  .repoItem {
    margin: 0.8em;
    padding: 1em;
    background-color: var(--blue-900);

    a {
      text-decoration: none;
      color: var(--blue-500);
      text-align: center;
      transition: ease-in all 400ms;

      &:hover {
        color: #02418c;
      }
    }

    p {
      color: var(--gray-500);
      margin: 0.8em 0;
    }
  }
}
